<div class="vh-100">
<div class="login-header">
  <div class="custom-container">
    <!-- <a href="#"><img src="../../assets/images/aruba_logo.png" alt="ASP Logo"></a> -->
    <div class="login-logo">
        <a href="#"><img src="../../assets/images/aruba_logo.png" alt="ASP Logo"></a>
        <a routerLink="/search-details">< Back to ASP Design</a>
      </div>
  </div>
</div>
<div class="custom-container">
  <div class="login-parent">
    <div class="row">
      <div class="col-md-6">
        <div class="login-common login-heading">
          <div class="heading">Aruba Support Portal</div>
          <div class="register-links">
              <a href="#"><span>Register as a new user</span></a>
              <a href="#"><span>Forgot your password?</span></a>
            </div>          
        </div>
      </div>
      <div class="col-md-6">
        <div class="login-common login-form">
          <div class="heading">Sign In</div>
          <form class="example-form">
              <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="HPE Passport eMail" value="">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input matInput type="password" placeholder="HPE Passport Password" value="">
              </mat-form-field>
              <div class="hpe-emp">
                <a href="#">HPE employee?</a>
              </div>
              <div class="signin-btn">
                <button mat-button class="orange-bg">Sign In</button>
              </div>                          
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="login-footer">
  <div class="custom-container">
    <div class="terms-text">
      Terms of Service | Privacy Policy | FAQ
    </div>
    <div class="copyright-text">
      Copyright @copy 2019 Aruba, a Hawlett packard Enterprise company
    </div>
  </div>
</div>
</div>
