<!-- <body class="home page page-id-81 ischrome chrome72 iswebkit"> -->
    <!-- <div id="page" class="site   site-lang-en"> -->
      
        
      <div class="footer">
        <div class="inner">
          <div class="footer-row row-top">
            <div class="footer-nav colspan-9">
              <div class="menu-footer-navigation-container">
                <ul id="menu-footer-navigation" class="footer-nav-list">
                  <li id="menu-item-19121" class="menu-heading no-follow menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19121"><a href="https://www.arubanetworks.com/company/">Company</a>
                    <ul class="sub-menu">
                      <li id="menu-item-19123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19123"><a href="#">About Us</a></li>
                      <li id="menu-item-52805" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-52805"><a href="#">Careers</a></li>
                      <li id="menu-item-103088" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-103088"><a href="#">Contact Us</a></li>
                      <li id="menu-item-145707" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145707"><a href="#">Leadership Team</a></li>
                      <li id="menu-item-145708" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145708"><a href="#">Environmental Citizenship</a></li>
                      <li id="menu-item-145764" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145764"><a target="_blank" href="#">HPE.com</a></li>
                    </ul>
                  </li>
                  <li id="menu-item-103089" class="menu-heading no-follow menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-103089"><a href="#">News &amp; Events</a>
                    <ul class="sub-menu">
                      <li id="menu-item-19672" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19672"><a target="_blank" href="#">News Releases</a></li>
                      <li id="menu-item-145709" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145709"><a href="#">Atmosphere</a></li>
                      <li id="menu-item-103092" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-103092"><a href="#">Events</a></li>
                      <li id="menu-item-145724" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145724"><a href="#">Webinars</a></li>
                      <li id="menu-item-145711" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145711"><a href="#">News Coverage</a></li>
                    </ul>
                  </li>
                  <li id="menu-item-19616" class="menu-heading no-follow menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-19616"><a href="#">Support</a>
                    <ul class="sub-menu">
                      <li id="menu-item-145716" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145716"><a href="#">Support Services</a></li>
                      <li id="menu-item-19667" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19667"><a href="#">Contact Support</a></li>
                      <li id="menu-item-145712" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145712"><a href="#">Aruba Education Services</a></li>
                      <li id="menu-item-145713" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145713"><a href="#">Professional Services</a></li>
                      <li id="menu-item-103095" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-103095"><a target="_blank" href="#">Software Downloads</a></li>
                      <li id="menu-item-19669" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19669"><a target="_blank" href="#">Licensing Login</a></li>
                    </ul>
                  </li>
                  <li id="menu-item-145715" class="menu-heading no-follow menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-145715"><a href="#">Partners</a>
                    <ul class="sub-menu">
                      <li id="menu-item-145717" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145717"><a href="#">Find a Partner</a></li>
                      <li id="menu-item-145718" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145718"><a href="#">Become a Partner</a></li>
                      <li id="menu-item-19670" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19670"><a target="_blank" href="#">Partner Ready for Networking</a></li>
                      <li id="menu-item-145719" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145719"><a href="#">Technology Partner Programs</a></li>
                    </ul>
                  </li>
                  <li id="menu-item-145706" class="menu-heading no-follow menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-145706"><a href="#">Resources</a>
                    <ul class="sub-menu">
                      <li id="menu-item-145720" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145720"><a href="#">Case Studies</a></li>
                      <li id="menu-item-145721" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145721"><a href="#">Product Documentation</a></li>
                      <li id="menu-item-103086" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-103086"><a href="#">Multimedia</a></li>
                      <li id="menu-item-145722" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145722"><a href="#">Resource Library</a></li>
                      <li id="menu-item-145723" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-145723"><a href="#">Blogs</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="social-nav colspan-3">
              <h4> Follow Us</h4>
              <div class="addthis_toolbox menu-footer-social-links-container">
                <div class="addthis_toolbox custom_images social-nav-list"> <a class="fsl-airheads" href="#" target="_blank">Airheads Community</a> <a class="fsl-twitter addthis_button_twitter_follow at300b" addthis:userid="arubanetworks" href="#" target="_blank" title="Follow on Twitter"><span class="at-icon-wrapper" style="background-color: rgb(29, 161, 242); line-height: 16px; height: 16px; width: 16px;">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-twitter-1" title="Twitter" alt="Twitter" style="width: 16px; height: 16px;" class="at-icon at-icon-twitter">
                    <title id="at-svg-twitter-1">Twitter</title>
                    <g>
                      <path d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336" fill-rule="evenodd"></path>
                    </g>
                  </svg>
                  </span>Twitter<span class="addthis_follow_label">Twitter</span></a> <a class="fsl-linkedin addthis_button_linkedin_follow at300b" addthis:userid="aruba-a-hewlett-packard-enterprise-company" addthis:usertype="company" href="#" target="_blank" title="Follow on LinkedIn"><span class="at-icon-wrapper" style="background-color: rgb(0, 119, 181); line-height: 16px; height: 16px; width: 16px;">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-linkedin-2" title="LinkedIn" alt="LinkedIn" style="width: 16px; height: 16px;" class="at-icon at-icon-linkedin">
                    <title id="at-svg-linkedin-2">LinkedIn</title>
                    <g>
                      <path d="M26 25.963h-4.185v-6.55c0-1.56-.027-3.57-2.175-3.57-2.18 0-2.51 1.7-2.51 3.46v6.66h-4.182V12.495h4.012v1.84h.058c.558-1.058 1.924-2.174 3.96-2.174 4.24 0 5.022 2.79 5.022 6.417v7.386zM8.23 10.655a2.426 2.426 0 0 1 0-4.855 2.427 2.427 0 0 1 0 4.855zm-2.098 1.84h4.19v13.468h-4.19V12.495z" fill-rule="evenodd"></path>
                    </g>
                  </svg>
                  </span>Linkedin<span class="addthis_follow_label">LinkedIn</span></a> <a class="fsl-fb addthis_button_facebook_follow at300b" addthis:userid="arubanetworks" href="#" target="_blank" title="Follow on Facebook"><span class="at-icon-wrapper" style="background-color: rgb(59, 89, 152); line-height: 16px; height: 16px; width: 16px;">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-facebook-3" title="Facebook" alt="Facebook" style="width: 16px; height: 16px;" class="at-icon at-icon-facebook">
                    <title id="at-svg-facebook-3">Facebook</title>
                    <g>
                      <path d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z" fill-rule="evenodd"></path>
                    </g>
                  </svg>
                  </span>Facebook<span class="addthis_follow_label">Facebook</span></a> <a class="fsl-youtube addthis_button_youtube_follow at300b" addthis:userid="ArubaNetworks" href="#" target="_blank" title="Follow on YouTube"><span class="at-icon-wrapper" style="background-color: rgb(205, 32, 31); line-height: 16px; height: 16px; width: 16px;">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-youtube-4" title="YouTube" alt="YouTube" style="width: 16px; height: 16px;" class="at-icon at-icon-youtube">
                    <title id="at-svg-youtube-4">YouTube</title>
                    <g>
                      <path d="M13.73 18.974V12.57l5.945 3.212-5.944 3.192zm12.18-9.778c-.837-.908-1.775-.912-2.205-.965C20.625 8 16.007 8 16.007 8c-.01 0-4.628 0-7.708.23-.43.054-1.368.058-2.205.966-.66.692-.875 2.263-.875 2.263S5 13.303 5 15.15v1.728c0 1.845.22 3.69.22 3.69s.215 1.57.875 2.262c.837.908 1.936.88 2.426.975 1.76.175 7.482.23 7.482.15 0 .08 4.624.072 7.703-.16.43-.052 1.368-.057 2.205-.965.66-.69.875-2.262.875-2.262s.22-1.845.22-3.69v-1.73c0-1.844-.22-3.69-.22-3.69s-.215-1.57-.875-2.262z" fill-rule="evenodd"></path>
                    </g>
                  </svg>
                  </span>YouTube<span class="addthis_follow_label">YouTube</span></a>
                  <div class="atclear"></div>
                </div>
                <div class="atclear"></div>
              </div>
            </div>
            <div class="clearboth"></div>
          </div>
          <div class="footer-row row-bottom">
            <div class="legal-nav colspan-6">
              <div class="menu-footer-legal-links-container">
                <ul id="menu-footer-legal-links" class="footer-legal-list">
                  <li id="menu-item-78017" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-78017"><a target="_blank" href="#">Privacy policy</a></li>
                  <li id="menu-item-19139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19139"><a href="#">Terms of service</a></li>
                  <li id="menu-item-19137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19137"><a href="#">Site Map</a></li>
                  <li id="menu-item-19138" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19138"><a href="#">Legal</a></li>
                </ul>
              </div>
            </div>
            <div class="copyright-nav colspan-6">
              <p> © Copyright 2019 Hewlett Packard Enterprise Development LP</p>
            </div>
            <div class="clearboth"></div>
          </div>
        </div>
      </div>
    <!-- </div> -->
    <!-- </body> -->