<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{notificationDetail.notificationTitle}} [{{notificationDetail.notificationPriority}}]</h4>
        <p class="card-description">Publisher - {{notificationDetail.publisher.name}}</p>
        <p>Published Date - {{notificationDetail.publisher.date | date}}</p>
        <button type="button" class="btn btn-success" placement="bottom" popoverTitle="Popover title" 
        ngbPopover="Sed posuere consectetur est at lobortis. Aenean eu leo quam.">Go to Published Content</button>
      </div>
    </div>
  </div>
</div>