<div class="custom-container">
  <div class="asp-search-menu">
    <div class="asp-logo">
      <a href="#"><img src="../../assets/images/aruba_logo140x68.png"></a>
    </div>
    <div class="asp-logo-heading">
      <a href="#">Support Portal</a>
    </div>
  </div>
</div>
<div class="asp-search-input">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="tel" matInput placeholder="Search here" [(ngModel)]="someInput" name="search">
      <!-- <button mat-button [(ngModel)]="someInput" name="search">Submit</button>  -->
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-button (click)=readData(someInput)>Submit</button> 
  </form>
</div>

<div class="custom-container">
  <div class="search-results-count">
    {{bingResults.length}} Results Found
  </div>
  <div class="search-results-list" *ngFor="let item of bingResults; index as i; trackBy: trackByFn">
    <mat-card>      
        <div class="search-product-name">
            Added on: {{item.dateLastCrawled| date: 'MMM d, y'}}
        </div>
        <div class="search-product-link">
          <a  target="_blank" href={{item.url}}>{{item.name}}</a>
        </div>
        <div class="search-product-series">
            {{item.snippet}}
        </div>      
    </mat-card>
  </div>
</div>
<div class="search-results-footer-bg">
  <div class="custom-container">
    <div class="search-results-footer-content">
      <div class="footer-links">
        <a href="#">Privacy policy</a>
        <a href="#">Terms of service </a>
        <a href="#">Site Map Lgal</a>
        <a href="#">Legal</a>
      </div>
      <div class="copyrights-line">
        © Copyright 2019 Hewlett Packard Enterprise Development LP
      </div>
    </div>
  </div>
</div>