<ngx-slick-carousel class="carousel custom-carousel"
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide custom-slide">
              <img src="{{ slide.img }}" alt="" width="100%">
              <h4 class="carousel-item-heading">{{slide.title}} </h4>
        </div>
    </ngx-slick-carousel>
    
    