/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.search-parent .example-form .mat-form-field-flex{
    background-color: #ffffff !important;
    border-radius: 5px;
}
.asp-search-input{
    background-color: #008375;
    display: flex;
    align-items: center;
    justify-content: center;
}
.example-form{
    width: 30%;
    
}
.example-form button{
    background: #ea7700;
}

.asp-search-input .mat-form-field-flex{
    background-color: #ffffff;        
}

.asp-search-input input{
    padding-left: 10px;
}
.asp-search-input input:focus{
    border: none !important;
}
.asp-search-input .mat-form-field-suffix{
    padding: 5px 10px;
    margin: 4px;
    color: #ea7700;
}
.asp-search-input .mat-form-field-flex {        
    border-radius: 5px;
}
.asp-search-input mat-form-field{
    margin-top: 0;
}
.asp-search-input .mat-form-field-label{
    font-size: 14px;
}
.asp-search-input mat-form-field{    
    width: 100%;
    margin-top: 20px;
}
.asp-search-input .mat-form-field-flex{
    background-color: #ffffff;        
}
.asp-search-input mat-form-field{
    position: relative;
}

.asp-search-input .example-form {
    display: flex;
    align-items: center;
    width: 35%;
}
.example-form button{
    background: #ea7700;
    margin-left: 2px;
    min-width: unset !important;
    color: #fff;
    padding: 5px 22px;
}
.asp-search-input label {
    padding-left: 10px;
}
.asp-search-input mat-form-field{    
    width: 100%;
    margin-top: 1.34375em !important;
}


@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import './assets/styles/variables';
@import "../node_modules/compass-mixins/lib/compass";
@import "../node_modules/compass-mixins/lib/animate";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/mdi/scss/materialdesignicons";
@import "../node_modules/font-awesome/scss/font-awesome";
@import "./assets/styles/fonts";
@import "./assets/styles/functions";
@import "./assets/styles/mixins/background";
@import "./assets/styles/mixins/animation";
@import "./assets/styles/mixins/badges";
@import "./assets/styles/mixins/breadcrumbs";
@import "./assets/styles/mixins/pagination";
@import "./assets/styles/mixins/buttons";
@import "./assets/styles/mixins/misc";
@import "./assets/styles/mixins/color-functions";
@import "./assets/styles/mixins/cards";
@import "./assets/styles/mixins/tooltips";
@import "./assets/styles/mixins/popovers";
@import "./assets/styles/mixins/blockqoute";
@import "./assets/styles/accordions";
@import "./assets/styles/breadcrumbs";
@import "./assets/styles/forms";
@import "./assets/styles/icons";
@import "./assets/styles/tables";
@import "./assets/styles/buttons";
@import "./assets/styles/badges";
@import "./assets/styles/cards";
@import "./assets/styles/typography";
@import "./assets/styles/preview";
@import "./assets/styles/lists";
@import "./assets/styles/bootstrap-progress";
@import "./assets/styles/bootstrap-alerts";
@import "./assets/styles/tabs";
@import "./assets/styles/dropdowns";
@import "./assets/styles/pagination";
@import "./assets/styles/popovers";
@import "./assets/styles/modals";
@import "./assets/styles/nav";
@import "./assets/styles/reset";
@import "./assets/styles/rating";
@import "./assets/styles/layouts";
@import "./assets/styles/tooltips";
@import "./assets/styles/responsive";
@import "./assets/styles/misc";
@import "./assets/styles/utilities";
@import "./assets/styles/demo";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
